.plano {
  padding: 10px;
  border: 1px solid #95a4a5;
}

.plano__cabecalho {
  margin: -10px;
  margin-bottom: 0;

  background-color: #95a4a5;
  color: #fff;

  font-weight: bold;
  text-align: center;
  line-height: 2.5;
  font-size: 2em;
}

.plano__preco {
  margin: 20px 0;

  text-align: center;
  font-size: 2em;
}

.plano__caracteristicas {
  margin: 20px 0;
  padding: 0;

  list-style: none;
}

.plano__caracteristicas > li {
  text-align: center;
}

.plano__rodape {
  text-align: center;
}

.botao {
  display: inline-block;

  padding: 12px 16px;

  background-color: green;
  color: #fff;
  border-radius: 20%;
  text-decoration: none;

  transition: background-color 0.2s;
}

.botao:focus {
  background-color: orange;
  text-decoration: none;
  color: #fff;
}

.botao:hover {
  background-color: red;
  text-decoration: none;
  color: #fff;
}

.botao:active {
  background-color: orange;
  text-decoration: none;
  color: #fff;
}

.botao--assinar {
  background-color: green;
}

.botao--assinar:hover {
  background-color: blue;
  text-decoration: none;
  color: #fff;
}

.botao--principal {
  border-radius: 10px;
  background-color: #004b86;
}

.botao--principal:hover,
.botao--principal:focus {
  border-radius: 10px;
  background-color: #003b86;
}

.principal {
  font-size: 1.5 rem;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

.principal__titulo {
  /*60px/24px = 2.5em */
  color: #fff;
  font-size: 2.5em;
  text-shadow: 4px 2px #383838;
}

.principal__subtitulo {
  margin: 60px 0;
  color: #fff;
  font-size: 1.5em;
  text-shadow: 3px 1px #383838;
}

.principal__acao {
  margin: 60px 0;
  font-size: 1em;
  text-align: center;
}

.depoimento {
  font-size: 1.5rem;
  font-family: Arial, Helvetica, sans-serif;
}

.depoimento__block {
  margin: 0;
  padding: 0 60px;
  font-size: 1em;
  font-family: "Lora", serif;
  font-style: italic;
  text-align: center;
}

.depoimento__autor {
  margin: 40px;
  text-align: center;
}

.depoimento__autor > img {
  border-radius: 50%;
}

.depoimento__autor > p {
  margin-top: 10px;
  font-family: "Lora", serif;
}
