.layout-cabecalho {
  height: 80px;
  border-bottom: 1px solid #ccc;
}

.layout-planos {
  padding: 80px 0px;
}

.layout-cabecalho__fundo {
  background-color: #95a4a5;
}

.layout-principal {
  padding: 80px 0;
  background-color: green;
}

.layout-depoimento {
  padding: 80px 0;
  background-color: #e7e7e7;
}

.layout-rodape {
  padding: 10px;
  background-color: #383131;
  color: #fff;
  text-align: center;
  margin-bottom: 10px;
}

.layout-cabecalho {
  height: 80px;
  /*  border-bottom: 1px solid #ccc;*/
}

.layout-cabecalho--position {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
}

.layout-planos {
  padding: 80px 0;
}

@media (max-width: 768px) {
  .layout-planos .row > div:not(.ultima--coluna) {
    margin-bottom: 40px;
  }
}

.layout-principal {
  padding: 80px 0;
  margin-top: 60px;
  background-color: green;
}

.layout-depoimento {
  padding: 80px 0;
  background-color: #61afa0;
}

.layout-rodape {
  padding: 10px;
  background-color: #383131;
  color: #fff;
  text-align: center;
  margin-bottom: 10px;
}
