.layout-cabecalho {
  height: 80px;
  border-bottom: 1px solid #ccc;
}

.layout-planos {
  padding: 80px 0px;
}

.layout-cabecalho__fundo {
  background-color: #95a4a5;
}

.layout-principal {
  padding: 80px 0;
  background-color: green;
}

.layout-depoimento {
  padding: 80px 0;
  background-color: #e7e7e7;
}

.layout-rodape {
  padding: 10px;
  background-color: #383131;
  color: #fff;
  text-align: center;
  margin-bottom: 10px;
}
